.about__content {
padding: 50px 440px 360px 50px;
background: url('./images/pic/about/003.jpg') right 50px top / 366px auto no-repeat, url('./images/pic/about/002.jpg') right 500px bottom / 367px auto no-repeat;
}

.about {
  padding-top: 105px;
}